/*Stylesheet personal-site*/
/*Image style */

.img-rounded {
    border-radius: 50%;
}

.img-init-size {
    width: 200px;
    height: 200px;
}

.image-init {
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.5s;
}

.image-init:hover {
    -webkit-filter: none;
}